.management-table {
  width: 100%;
  border: 1px solid gray !important;
}

.management-table thead {
  background-color: #f9f9f9;
}

.management-table th,
.management-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.management-table th {
  font-weight: bold;
  background-color: #80808029 !important;
  font-size: 13px;
}

.management-table td {
  font-size: 13px;
}

.management-table tr:hover {
  background-color: #f1f1f1;
}

table td:nth-child(2) {
  color: black;
  font-weight: bold;
}

table td:nth-child(10) {
  color: rgba(255, 0, 0, 0.664);
  font-weight: bold;
}

.deliverable-icons {
  width: 15px;
  height: 15px;
}

.error-message {
  color: red;
  font-size: 10px;
}

select {
  border: none;
}